<h3>Enter a New Restaurant</h3>

<%= form_for @question do |f| %>
  <% if @question.errors.any? %>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_area :city %>
  </div>

  <div>
    <%= f.label :state %>
    <%= f.text_area :state %>
  </div>

  <div>
    <%= f.label :zip_code %>
    <%= f.text_area :zip_code %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.text_area :category %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>


  <div>
    <%= f.submit %>
  </div>

<% end %>
