<h3><%= @restaurant.name %></h3>


<div>
  Address: <%= @restaurant.address %>, <%= @restaurant.state %>, <%= @restaurant.zip_code %>
</div>

<div>
  Category: <%= @restaurant.category %>
</div>

<div>
  Description: <%= @restaurant.description %>
</div>


<h3>Reviews</h3>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.rating %> -- <%= "#{review.body}" %>
    </li>
  <% end %>
</ul>

